D:\source\AutoTest\TestingProject\.vs\TestingProject\FileContentIndex
/.vs/TestingProject/FileContentIndex
/SpecFlowProject1/bin
/SpecFlowProject1/obj/local
/SpecFlowProject1/obj/production
/SpecFlowProject1/obj/Release/net6.0
/SpecFlowProject1/obj/staging/netcoreapp3.1
